/**
 * classToCSS插件自动生成的全局样式，任何手动修改都会被覆盖
 * 需要手动引入到全局生效的位置，如index.html
 */
.border-100_solid_000 { border: 200rpx solid #000 }
.border-100_solid_fff { border: 200rpx solid #fff }
.border-solid { border-style: solid; }
.border-l-100_solid_fff { border-left: 200rpx solid #fff }
.border-\[4000\] { border-width:  4000;  }
.left-100 { left:  200rpx;  }
.mid-between { justify-content: space-between; }
.mid-around { justify-content: space-around; }
.mid-evenly { justify-content: space-evenly; }
.mt-500-important { margin-top:  1000rpx !important;  }
.shadow-4_5_4_43_34_dedede { box-shadow:  8rpx 10rpx 8rpx 86rpx 68rpx #dedede;  }
/* apply result */
.app-reset { padding:  0rpx;  margin:  0rpx;  box-sizing: content-box;  }
.mid { display: flex; align-items: center;  }
.center { display: flex; justify-content: center;  }
.mid-center { display: flex; justify-content: center; align-items: center;  }
.mid-between { display: flex; justify-content: space-between; align-items: center;  }
.mid-around { display: flex; justify-content: space-around; align-items: center;  }
.mid-evenly { display: flex; justify-content: space-evenly; align-items: center;  }
