/**
 * classToCSS插件自动生成的全局样式，任何手动修改都会被覆盖
 * 需要手动引入到全局生效的位置，如index.html
 */
.m-20 { margin:  40rpx;  }
.mt-1 { margin-top:  2rpx;  }
.mr-1 { margin-right:  2rpx;  }
.mb-1 { margin-bottom:  2rpx;  }
.ml-1 { margin-left:  2rpx;  }
.m-1_2 { margin:  2rpx 4rpx;  }
.m-1_2_3 { margin:  2rpx 4rpx 6rpx;  }
.m-1_2_3_4 { margin:  2rpx 4rpx 6rpx 8rpx;  }
.p-20 { padding:  40rpx;  }
.pt-1 { padding-top:  2rpx;  }
.pr-1 { padding-right:  2rpx;  }
.pb-1 { padding-bottom:  2rpx;  }
.pl-1 { padding-left:  2rpx;  }
.p-1_2 { padding:  2rpx 4rpx;  }
.p-1_2_3 { padding:  2rpx 4rpx 6rpx;  }
.p-1_2_3_4 { padding:  2rpx 4rpx 6rpx 8rpx;  }
.w-1 { width:  2rpx;  }
.w-full { width: 100%; }
.w-1p { width: 1%; }
.max-w-2 { max-width:  4rpx;  }
.w-20vw { width: 20vw; }
.min-w-4 { min-width:  8rpx;  }
.absolute { position: absolute; }
.static { position: static; }
.relative { position: relative; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.top-2 { top:  4rpx;  }
.z-23 { z-index: 23; }
.border-box { box-sizing: border-box; }
.content-box { box-sizing: content-box; }
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.table { display: table; }
.fl { float: left; }
.fr { float: right; }
.f-l { float: left; }
.f-r { float: right; }
.mid-between { justify-content: space-between; }
.mid-around { justify-content: space-around; }
.mid-evenly { justify-content: space-evenly; }
.w-\[43rem\] { width:  43rem;  }
.w-\[2sdo23\] { width:  2sdo23;  }
.top-\[434sdf\] { top:  434sdf;  }
.top-\[50\] { top:  50;  }
.overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.scroll-y { overflow-x: hidden; overflow-y: auto; }
.scroll-x { overflow-x: auto; overflow-y: hidden; }
/* apply result */
.app-reset { padding:  0rpx;  margin:  0rpx;  box-sizing: content-box;  }
.mid { display: flex; align-items: center;  }
.center { display: flex; justify-content: center;  }
.mid-center { display: flex; justify-content: center; align-items: center;  }
.mid-between { display: flex; justify-content: space-between; align-items: center;  }
.mid-around { display: flex; justify-content: space-around; align-items: center;  }
.mid-evenly { display: flex; justify-content: space-evenly; align-items: center;  }
