/**
 * classToCSS插件自动生成的全局样式，任何手动修改都会被覆盖
 * 需要手动引入到全局生效的位置，如index.html
 */
/* apply result */
.app-reset { padding: 0px;margin: 0px;box-sizing: content-box; }
.mid { display: flex; }
.center { display: flex;justify-content: center; }
.mid-center { display: flex;justify-content: center; }
.card { overflow: hidden; border-radius: 15px;padding: 15px;margin-top: 10px;background-color: fff; }
